#container{
	width: 960px;
	height:auto;
	margin: auto;
}
/* header */
#header{
	display: flex;
	height: 126px;
	justify-content: space-between;
	align-items: center;
}
#logo{
	display: flex;
}
#nav-bar{
	width: 296px;
}
#menu{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding:0;
	font-size: 18px;
}
.nav-item{
	display: flex;
}
.nav-item::after{
	content:"/";
	margin-left:19px;
}
.nav-item:last-child::after{
	content:none;
}
/* intro section */
#intro-section{
	padding: 100px 0;
	text-align: center;
	font-size:16px;
}
#intro{
	padding: 0 6%;
}
#intro-header{
	font-size: 36px;
}
#intro-des{
	margin: 50px 15px;
}
#btn{
	height: 44px;
	width: 140px;
	border:solid brown 0.5px;
	border-radius: 5px;
	font-size: 18pt;
	color:white;
	background-color: black;
}
